/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.game-area {
  width: 800px;
  height: 200px;
  border: 2px solid black;
  margin: 25px;
}

.rocket {
  position: relative;
  height: 20px;
  width: 50px;
  background-color: red;
}

.asteroid {
  position: relative;
  height: 40px;
  width: 40px;
  background-color: black;
} */
.canvas {
  background-color: black;
}
