body {
  text-align: center;
  font-family: "Righteous", cursive;
  /* Potential alternate background colors */
  /* background-color: #dfe8f5; */
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(223, 232, 245, 1) 100%
  ); */
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 27px;
}

p {
  font-size: 18px;
}

.canvas {
  background-color: black;
  background-image: url("stars.jpg");
  background-size: cover;
  background-position: bottom;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(165, 164, 164);
  border-radius: 3px;
}

button {
  background-color: rgb(165, 164, 164);
  font-family: "Righteous", cursive;
  font-size: 25px;
  margin: 5px;
  border-width: 2px;
  border-color: black;
  border-radius: 3px;
}

#github {
  height: 50px;
  width: 50px;
}

.gradient-text {
  /* standard gradient background */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    25deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(133, 133, 133, 1) 52%,
    rgba(0, 0, 0, 1) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.score {
  margin: 1%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.score-text {
  width: 9%;
}

.score-number {
  width: 6%;
}
